@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 242, 254, var(--tw-bg-opacity));
}

html.dark body {
  --tw-bg-opacity: 1;
  background-color: rgba(15, 23, 42, var(--tw-bg-opacity));
}

#hand {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 320ms;
          animation-delay: 320ms;
}

#site-title ~ p {
  margin-top: 0.5rem;
}

@media (min-width: 640px){
  #site-title ~ p{
    padding-left: 1rem;
  }
}

h1, h2, h3, h4, summary{
  font-weight: 700;
}

details {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

details p {
  font-size: 1rem;
  line-height: 1.5rem;
  line-height: 1.75rem;
}

.card > p {
  letter-spacing: 0.025em;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px){
  .card > p{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.card > p{
  line-height: 1.75rem;
}

@-webkit-keyframes wiggle {
  from {
  }

  25% {
    transform: rotate(9deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  to {
  }
}

@keyframes wiggle {
  from {
  }

  25% {
    transform: rotate(9deg);
  }

  75% {
    transform: rotate(-4deg);
  }

  to {
  }
}
